<%- include('./partials/navbar-general'); %>

<section class="dokumentasi-filler"></section>
<section class="dokumentasi">
    <div class="dokumentasi-card">
        <div class="dokumentasi-card-img img1" id="dokumentasi-img1">
        </div>
        <div class="dokumentasi-card-txt">
            <h2 class="">James & Christine</h2>
            <h4 class="tanggal">Minggu, 19 Desember 2021</h4>
            <p>Pernikahan dengan konsep outdoor yang dihadari oleh keluarga dan kerabat dekat. Pernikahan James dan
                Crtistine ini
                dilaksanakan di Bali dengan dihadiri 200 orang dan menerapkan pembagian sesi waktu undangan saat
                akad dan resepsi,
                dan tetap mengikuti protokol kesehatan yang diterapkan.
            </p>
        </div>
    </div>
    <div class="dokumentasi-card">
        <div class="dokumentasi-card-img img2" id="dokumentasi-img2">
        </div>
        <div class="dokumentasi-card-txt">
            <h2 class="">Aldo Family Gathering</h2>
            <h4 class="tanggal">Minggu, 12 Desember 2021</h4>
            <p>
                Cocok untuk family gathering. Disediakan Hotelnya Bagus pemandangannya bagus, makanannya enak dan servicenya sangat helpful. 
                Nyaman untuk acara keluarga dan teman teman.
                dan pastinya tetap mengikuti protokol kesehatan.
            </p>
        </div>
    </div>

        <p class="showDoc"></p>
            <!-- <div id="selengkapnya"> -->
                <div class="dokumentasi-card-filler below"></div>
                <div class="dokumentasi-card below" id="xeratic">
                    <div class="dokumentasi-card-img img3">
                    </div>
                    <div class="dokumentasi-card-txt">
                        <h2>Seminar PT Xeratic</h2>
                        <h4 class="tanggal">Sabtu, 15 Januari 2022</h4>
                        <p>
                            Seminar PT Xeratic di Hotel Trans Studio Bandung di hadiri oleh Startup - startup ternama dari
                            Indonesia. Seminar ini di
                            hadiri 500 orang dan menerapkan protokol kesehatan.
                        </p>
                    </div>
                </div>
                <div class="dokumentasi-card below">
                    <div class="dokumentasi-card-img img4">
                    </div>
                    <div class="dokumentasi-card-txt">
                        <h2 class="">Birthday's Jennie</h2>
                        <h4 class="tanggal">Senin, 28 Januari 2022</h4>
                        <p>
                            Ulang tahun dengan konsep yang mewah dan elegen dihadari oleh keluarga dan kerabat dekat. Ulang
                            tahun Jennie ini
                            dilaksanakan di Ball Room Buah Batu dengan dihadiri 150 orang dan pastinya
                            tetap mengikuti protokol
                            kesehatan.
                        </p>
                    </div>
                </div>
                <div class="dokumentasi-card below">
                    <div class="dokumentasi-card-img img5">
                    </div>
                    <div class="dokumentasi-card-txt">
                        <h2 class="">Michael & Yuni</h2>
                        <h4 class="tanggal">Minggu, 13 Februari 2022</h4>
                        <p>
                            Pernikahan dengan konsep outdoor yang dihadari oleh keluarga dan kerabat dekat. Pernikahan James dan
                            Crtistine ini
                            dilaksanakan di Bali dengan dihadiri 200 orang dan menerapkan pembagian sesi waktu undangan saat
                            akad dan resepsi,
                            selalu tetap mengikuti protokol kesehatan yang berlaku.
                        </p>
                    </div>
                </div>
            <!-- </div> -->
</section>

<%- include('./partials/footer'); %>